body {
    width: 100%;
    margin: 0;
}

.button {
    background-color: #b1c9e9;
    margin: 0px 30px;
    text-align: center;
    font: 500 16px/30px "Montserrat";
    color: black;
    border-radius: 10px;
    border: 3px solid #b1c9e9;
}

.button:hover {
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.button:active {
    border: 3px solid #b1c9e9;
    border-radius: 10px;
}

.header {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 100px;
    width: 100px;
    margin: 0 20px 0 0;
}


.logo-text {
    font: italic 500 16px 'Roboto';
}

.header-img {
    background-image: url("./img/background-header.png");
    background-size: 33% 100%;
    height: 250px;
}

@media (max-width: 500px) {
    .header-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }   
}

.header-bottom {
    height: 50px;
    background-color: #004581;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button-login {
    width: 80px;
    height: 30px;
}

.main {
    width: 100%;
    min-width: 150px;
    display: flex;
}

.main-left {
    margin: 10px 20px;
    width: 90%;
}

.main-right {
    width: 10%;
    min-width: 150px;
    margin: 0px 10px;
    box-sizing: border-box;
    border-left: 10px solid;
    border-image: repeating-linear-gradient(0deg, #004581, #3bf, #004581 40px) 40;
}

.menu {
    font: 500 12px/24px "Montserrat";
    margin-left: 10px;
}

.menu-header {
    font: 500 18px/32px "Montserrat";
    text-align: center;
    
}

.menu-list {
    list-style-type: none;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-item {
    border: 2px solid #004581;
    border-radius: 15px;
    margin: 5px 0px;
    padding: 5px 5px;
    text-align: center;
    width: 120px;
}

.menu-item:hover {
    border: 2px solid #3bf;
    border-radius: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.menu-item:active {
    border: 2px solid #004581;
    border-radius: 15px;
    text-decoration: none;
}

.menu-item-link {
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 100px;
}

.footer-info {
    border-top: 50px solid #004581;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 14px/14px "Montserrat";
}

.login-form {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #004581;
    border-radius: 5px;
    padding: 10px;
}

.login-form-name {
    display: flex;
    flex-direction: row;
}

.login-form-password {
    display: flex;
    flex-direction: row;
}