{% extends 'page_template.html' %}

{% block content %}
<div class="main-left">
    <h1 class="main-header">
        Информация о кафедрах
    </h1>
    <div class="main-body">
        <h2 class="main-header-2">Кафедра химико-технологических процессов (ХТП)</h2>
        <p class="main-text">На кафедре ХТП обучаются студенты по специальности Химическая технология. В кадровом составе кафедры более 20 преподователей, из которых около половины имеют научную степень. Выпускники кафедры успешно работают в сфере нефтепереработки и нефтехимии. </p>
        <h2 class="main-header-2">Электрооборудование и автоматика промышленных предприятий (ЭАПП)</h2>
        <p class="main-text">Кафедра ЭАПП появилась в 1961 году и с тех пор обучает студентов по электротехническим специальностям. В настоящее время на кафедре функционирует несколько именных учебных лабораторий, спонсорами которых выступают известные российские компании. Кафедра обучает студентов по направлениям подготовки "Электроэнергетика и электротехника" и "Автоматизация технологических процессов и производств". </p>
        <h2 class="main-header-2">Оборудование предприятий нефтехимии и нефтепереработки (ОПНН)</h2>
        <p class="main-text">На кафедре ОПНН обучаются студенты по специализации "Машины и аппараты химических производств" и "Машины и аппараты химических производств и предприятий строительных материалов". Выпускники кафедры востребованы на крупных нефтегазопперебатывающих и нефтехимических производствах, в том числе предприятиях Крайнего Севера. Кафедра была образована в 1993 году, в данный момент на ней работает 8 преподавателей, из которых 7 - кандидаты наук.</p>
        <h2 class="main-header-2">Кафедра информационных технологий (ИнТех)</h2>
        <p class="main-text">В 2019 году кафедра "Общенаучные дисциплины" была переменована в кафедру "Информационных технологий", но специалисты данной кафедры продолжают вести обучение студентов всех специальностей по гуманитарным дисциплинам. Кафедра обучает бакалавров по специальности "Автоматизированное управлене бизнес-процессами и финансами" с 2011 года. В данный момент кафдера набирает студентов для подготовки по специальности "Технологии искусственного интеллекта в нефтегазовой отрасли."</p>
    </div>
</div>
{% endblock %}