{% extends 'base_template.html' %}

{% block body %}

{% block header %}
<div class="header">
    <div class="header-top">
        {% load static%}
        <img src="{% static '/img/logo.jpg' %}" class="logo-img" alt="Логотип">
        <p class="logo-text">
            Система выдачи справок для студентов ИНН УГНТУ в г. Саалават
        </p>
    </div>
    <div class="header-img">
    </div>
    <div class="header-bottom">
        {% if user.is_authenticated %}
            <a href="/accounts/logout?next=/main/logout_page"><div class="button button-login">Выйти</div></a> 
        {% else %}
            <a href="/accounts/login"><div class="button button-login">Войти</div></a> 
        {% endif %}
    </div>
</div>
{% endblock %}

{% if user.is_authenticated %}
    {% block main %}

    {% endblock %}

{% else %}
{% block auth %}
<div class="main">
    <div class="main-left">
        <h1 class="main-header">
            Требуется авторизация
        </h1>
        <p class="main-text">
            Для продолжениия работы, пожалуйста, авторизуйтесь!
        </p>
    </div>
</div>
{% endblock %}
{% endif %}



{% block footer %}
<div class="footer">
    <div class="footer-info">
        <p class="footer-text">
            Выполнил: Егор Саломатин, БАБз-19-21. Все права защищены &copy;
        </p>
    </div>
</div>
{% endblock %}

{% endblock %}
