{%extends 'main_template.html' %}

{% block main %}
<div class="main">

    {% block content %}
    {% endblock %}
    
    {% block sidebar %}
    <div class="main-right">
        <div class="menu">
            <h1 class="menu-header">
                Меню сайта
            </h1>
            <ul class="menu-list">
                <a href="{% url "index" %}" class="menu-item-link">
                    <li class="menu-item">
                        Главная
                    </li>
                </a>
                <a href="{% url "new_reqs" %}" class="menu-item-link">
                    <li class="menu-item">
                        Новые заявки
                    </li>
                </a>
                <a href="{% url "wait_reqs" %}" class="menu-item-link">
                    <li class="menu-item">
                        Ожидают подписания
                    </li>
                </a>
                <a href="{% url "sign_reqs" %}" class="menu-item-link">
                    <li class="menu-item">
                        Ожидают выдачи
                    </li>
                </a>
                <a href="{% url "done_reqs" %}" class="menu-item-link">
                    <li class="menu-item">
                        Выдано
                    </li>
                </a>
            </ul>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}