{%extends 'main_template.html' %}

{% block main %}
<div class="main">

    {% block content %}
    {% endblock %}
    
    {% block sidebar %}
    <div class="main-right">
        <div class="menu">
            <h1 class="menu-header">
                Меню сайта
            </h1>
            <ul class="menu-list">
                <a href="/main" class="menu-item-link">
                    <li class="menu-item">
                        Главная
                    </li>
                </a>
                <a href="/main/newreqs" class="menu-item-link">
                    <li class="menu-item">
                        Новые заявки
                    </li>
                </a>
                <a href="#" class="menu-item-link">
                    <li class="menu-item">
                        2
                    </li>
                </a>
                <a href="#" class="menu-item-link">
                    <li class="menu-item">
                        3
                    </li>
                </a>
            </ul>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}