{% extends 'main_template.html' %}

{% block main %}

<div class="login-form">
    <form class="login-form-form" method="POST" action="">
        {% csrf_token %}
        <div class="login-form-error">
            {% if form.errors %}
                <p class="login-form-error-text"> Имя пользователя или пароль не совпадают. Попробуйте еще раз. </p>
            {% endif %}
        </div>
        <div class="login-form-name">
            <p class="login-form-name-text">Имя пользователя</p>
            {{ form.username }}
        </div>
        <div class="login-form-password">
            <p class="login-form-password-text">Пароль</p>
            {{ form.password }}
        </div>
        <input class="button login-form-submit" type="submit" value="Войти">
        <p class="login-form-reg">Нет аккаунта? <a href="">Зарегистрируйтесь</a></p>
    </form>
</div>


{% endblock %}