{% extends 'main_template.html' %}

{% block main %}

<div class="login-form">
    <form class="login-form-form" method="POST" action="login1.html">
        <div class="login-form-error">
            <p class="login-form-error-text">Ошибка формы</p>
        </div>
        <div class="login-form-name">
            <p class="login-form-name-text">Имя пользователя</p>
            <input class="login-form-name-input" type="password">
        </div>
        <div class="login-form-password">
            <p class="login-form-password-text">Пароль</p>
            <input type="text" class="login-form-password-input">
        </div>
        <input type="submit" value="Войти">
        <p class="input-form-reg-text">Нет аккаунта? <a href="">Зарегистрируйтесь</a></p>
    </form>
</div>


{% endblock %}