{% extends 'main_template.html' %}

{% block main %}

<div class="login-form">
    <form class="login-form-form" method="POST" action="">
        {% csrf_token %}
        <div class="login-form-error">
            {% if form.errors %}
                <p class="login-form-error-text"> {{ user_form.errors }}</p>
            {% endif %}
        </div>
        <div class="login-form-name">
            <p class="login-form-name-text">Имя пользователя</p>
            {{ user_form.username }}
        </div>
        <div class="login-form-email">
            <p class="login-form-name-text">Email</p>
            {{ user_form.email }}
        </div>
        <div class="login-form-password">
            <p class="login-form-password-text">Пароль</p>
            {{ user_form.password }}
        </div>
        <div class="login-form-password">
            <p class="login-form-password-text">Повторите пароль</p>
            {{ user_form.password2 }}
        </div>
        <input class="button login-form-submit" type="submit" value="Зарегистрироваться">
    </form>
</div>


{% endblock %}